<!DOCTYPE HTML>
<html class="l-default lo-stickyFooter">
<head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="AOft-WEotMv438AjZRpVwWb6klhRcCbqGU-V4YFUgtQ" />
    <meta name="csrf-token" content="h5YjlMA8EnQEfDNEqqQFlvgtUCbxotlxv1Kut78n">
    <link rel="canonical" href="https://jobinja.ir/how-to"/>
<link rel="dns-preconnect" href="https://thumb2.jobinjacdn.com">
        <link rel="apple-touch-icon" sizes="57x57" href="https://jobinja.ir/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://jobinja.ir/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://jobinja.ir/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://jobinja.ir/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://jobinja.ir/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://jobinja.ir/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://jobinja.ir/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://jobinja.ir/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://jobinja.ir/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://jobinja.ir/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://jobinja.ir/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://jobinja.ir/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://jobinja.ir/favicon-16x16.png">
<link rel="manifest" href="https://jobinja.ir/manifest.json">
<meta name="msapplication-TileColor" content="#1abc9c">
<meta name="msapplication-TileImage" content="https://jobinja.ir/ms-icon-144x144.png">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#1abc9c">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#1abc9c">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#1abc9c">




                    <title>جابینجا به چه شکلی به استخدام شدن من کمک می‌کنه؟ | جابینجا</title>
<meta name="description" content="با سرویس استخدامی جابینجا در آگهی‌های استخدام بیش از ۳۰۰۰ شرکت ایرانی جستجو کرده و رزومه خود را ارسال کنید، با استفاده از رزومه‌ساز جابینجا رزومه خود را ایجاد کنید، با فرهنگ سازمانی شرکت‌ها آشنا شوید و جدیدترین فرصت‌های شغلی مربوط به خود را زودتر از سایر کارجویان دریافت کنید.">
<meta property="og:title" content="جابینجا به چه شکلی به استخدام شدن من کمک می‌کنه؟ | جابینجا" />
<meta property="og:description" content="با سرویس استخدامی جابینجا در آگهی‌های استخدام بیش از ۳۰۰۰ شرکت ایرانی جستجو کرده و رزومه خود را ارسال کنید، با استفاده از رزومه‌ساز جابینجا رزومه خود را ایجاد کنید، با فرهنگ سازمانی شرکت‌ها آشنا شوید و جدیدترین فرصت‌های شغلی مربوط به خود را زودتر از سایر کارجویان دریافت کنید." />
<meta property="og:url" content="https://jobinja.ir/how-to" />
<meta property="og:site_name" content="جابینجا، شغلی رویایی خود را پیدا کنید" />
<meta property="og:type" content="website" />
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<meta property="og:image" content="https://jobinja.ir/assets/img/logo-neg-500.png?uid=a8bfb10c467699175cd135d8a8331b1f" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Jobinja_ir" />
<meta name="twitter:creator" content="@Jobinja_ir" />
<meta name="twitter:title" content="جابینجا به چه شکلی به استخدام شدن من کمک می‌کنه؟ | جابینجا" />
<meta name="twitter:description" content="با سرویس استخدامی جابینجا در آگهی‌های استخدام بیش از ۳۰۰۰ شرکت ایرانی جستجو کرده و رزومه خود را ارسال کنید، با استفاده از رزومه‌ساز جابینجا رزومه خود را ایجاد کنید، با فرهنگ سازمانی شرکت‌ها آشنا شوید و جدیدترین فرصت‌های شغلی مربوط به خود را زودتر از سایر کارجویان دریافت کنید." />
<meta name="twitter:image:width" content="200" />
<meta name="twitter:image:height" content="200" />
<meta name="twitter:url" content="https://jobinja.ir/how-to" />
<meta name="twitter:images0" content="https://jobinja.ir/assets/img/logo-neg-500.png?uid=a8bfb10c467699175cd135d8a8331b1f" />
            
            <link rel="stylesheet" type="text/css" href="https://jobinja.ir/assets/css/end_user.css?v=2478898"/>



    
                                        

    <!--[if IE]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
</head>


<body   class="l-default__body lo-stickyFooter__body no-js js--requestPush   js-jobinjaEndUserApp ">
    <script>
  (function(w, er, b, cn, ec, rsp, sp, fl) {
    b[cn] = (b[cn][sp](rsp)[fl](function(i) { return i != 'no-js';}).join(' ')) + ' js js-notReady';
    w[er] = function() { if(b[cn][sp](rsp)[fl](function(c){ return c == ec; }).length === 0) b[cn] = b[cn] + ' ' + ec; };
  })(window, 'onerror', document.getElementsByTagName('body')[0], 'className', 'js-error', /\s+/, 'split', 'filter');
</script>

    <div class="body l-default__content lo-stickyFooter__content">

            
  <header class="c-header js-header  is-loggedIn">
    <div class="c-header__wrap js-flashMessageAnchor">
    <div class="c-header__container c-header__container--padded container">

                    <div class="c-header__branding">
    <a class="c-header__brandingLink" href="https://jobinja.ir">
        <h3 class="c-header__brandingHeading">Jobinja | جابینجا | استخدام، آگهی استخدام، کاریابی، استخدامی جدید، بازار کار، نیازمندیها، ساخت رزومه رایگان، کار و استخدام دولتی، اشتغال، جستجوگر حرفه ای استخدام و شغل</h3>
    </a>
</div>
        
        <div class="c-header__nav c-nav2 js-nav2 ">
                            <div class="c-nav2__navWrap">
                    <a class="c-nav2__iconLink c-nav2__toggle c-nav2IconLink o-iconLink o-iconLink--32x32 js-nav2Toggle" href="#" name="منو">
                        <i class="c-nav2__toggleOpenIcon  o-iconLink__icon o-iconLink__icon--1 c-icon c-icon--24x24 c-icon--menu"></i>
                        <i class="c-nav2__toggleCloseIcon o-iconLink__icon o-iconLink__icon--2 c-icon c-icon--24x24 c-icon--close"></i>
                    </a>
                    <a href="#" class="c-nav2__toggleGhostClose js-nav2ToggleGhostClose"></a>

                                            <nav class="c-nav2__burgerDropDown js-burgerDropDown">
                            <ul class="c-nav2__burgerList js-burgerList">
                                                                        <li class="c-nav2__burgerItem">
    <a href="https://jobinja.ir" target="_self" class="c-nav2__burgerItemLink">
                    <i class="c-emojicon c-emojicon--house"></i>
                خانه
    </a>
</li>    <li class="c-nav2__burgerItem">
    <a href="https://jobinja.ir/jobs" target="_self" class="c-nav2__burgerItemLink" name="جستجو">
        <i class="c-emojicon c-emojicon--magnifier"></i>
        جستجوی مشاغل
    </a>
</li>    <li class="c-nav2__burgerItem">
    <a href="https://jobinja.ir/app/cv-builder" target="_self" class="c-nav2__burgerItemLink">
                    <i class="c-emojicon c-emojicon--sparkles"></i>
                رزومه&zwnj;ساز
    </a>
</li>    <li class="c-nav2__burgerItem">
    <a href="https://jobinja.ir/top50" target="_self" class="c-nav2__burgerItemLink">
                    <i class="c-emojicon c-emojicon--gemstone"></i>
                ۵۰ شرکت برتر
    </a>
</li>                                                            </ul>
                        </nav>
                    
                    <a class="c-nav2__mobileSearch c-nav2IconLink o-iconLink o-iconLink--32x32" href="https://jobinja.ir/jobs" name="جستجو">
                        <i class="o-iconLink__icon c-icon c-icon--24x24 c-icon--search2 u-block"></i>
                    </a>
                </div>
            
            
                <div class="c-nav2__extras">

                    
                        <div class="c-nav2__desktopExtras">
    </div>


                        
                            <div class="u-flex u-alignItemCenter">

                                <notifications inline-template>
                                    <a
                                        class="c-nav2Notifications__toggle c-nav2IconLink
                                            o-iconLink o-iconLink--32x32 js-nav2NotificationsToggle
                                        "
                                        v-on="click: collapse"
                                    >
                                        <i class="o-iconLink__icon c-icon c-icon--24x24 c-icon--notification u-block"></i>
                                        <span
                                            class="c-nav2Notifications__count c-nav2Notifications__count--total"
                                            v-if="badgeCounter > 0 && showBadge"
                                            v-cloak="hide"
                                        >
                                            {{ badgeCounter | to-farsi }}
                                        </span>
                                    </a>
                                <div
                                    v-if="show"
                                    v-transition="expand"
                                    class="notification-box"
                                    id="notification_box"
                                    v-cloak="hide"
                                >
                                    <div class="arrow-up"></div>
                                    <div v-if="allMessageCount === 0" class="empty">
                                        در حال حاضر پیامی جهت مشاهده وجود ندارد
                                    </div>
                                    <div class="notification-item" v-repeat="data in notifs">
                                        <div class="notification-item__header">
                                            <span class="xs">
                                                {{data.readable_type === "application_status_change" ? 'تغییر وضعیت درخواست' : 'پیام جدید'}}
                                            </span>
                                            <label class="xl">
                                               {{ data.how_long_ago }}
                                            </label>
                                        </div>
                                        <p class="notification-item__body">{{ data.message }}</p>
                                        <a href="{{ data.link }}" target="_blank" class="notification-item__footer">
                                            مشاهده جزئیات
                                        </a>
                                    </div>
                                </div>
                                </notifications>
                                <div class="c-nav2__accountManager c-nav2AccountManager js-nav2AccountManager">
    <a class="c-nav2AccountManager__toggle c-nav2IconLink o-iconLink o-iconLink--32x32 js-nav2AccountManagerToggle" title="سروین باغی" href="#" name="مدیریت حساب">
        <i class="c-nav2AccountManager__toggleIcon o-iconLink__icon c-icon c-icon--24x24 c-icon--person2"></i>
            <span class="c-nav2AccountManager__toggleLabel ">
                سروین باغی
            </span>
        <i class="c-nav2AccountManager__arrow c-icon c-icon--12x12 c-icon--down-arrow"></i>
    </a>
    <a href="#" class="c-nav2AccountManager__toggleGhostClose"></a>
    <div class="c-nav2AccountManager__dropDown js-nav2AccountManagerDropDown">
        <ul class="c-nav2AccountManager__list">
                        <li class="c-nav2AccountManager__item c-nav2AccountManager__item--noLink c-nav2AccountManager__item--mobileOnly ">
                <span href="#" target="_blank" class="c-nav2AccountManager__itemLink">
                    سروین باغی
                </span>
            </li>
                                        <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/jobs/applied" target="_self" class="c-nav2AccountManager__itemLink">
                        درخواست&zwnj;های من
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/job-alert" target="_self" class="c-nav2AccountManager__itemLink">
                        ایمیل&zwnj;های اطلاع&zwnj;رسانی من
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/liked" target="_self" class="c-nav2AccountManager__itemLink">
                        فرصت&zwnj;های شغلی نشان&zwnj;شده
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/recommended" target="_self" class="c-nav2AccountManager__itemLink">
                        فرصت&zwnj;های شغلی پیشنهادی
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/profile/wizard" target="_self" class="c-nav2AccountManager__itemLink">
                        رزومه&zwnj;ساز
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/profile/LvAr" target="_blank" class="c-nav2AccountManager__itemLink">
                        مشاهده رزومه
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/account" target="_self" class="c-nav2AccountManager__itemLink">
                        تنظیمات حساب&zwnj;کاربری من
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/logout" target="_self" class="c-nav2AccountManager__itemLink">
                        خروج
                    </a>
                </li>
                    </ul>
    </div>
</div>
                            </div>
                        
                                                            </div>
                    </div>
    </div>
</div>


        <scroll-position-responsive inline-template>
    <div id="active-tab-header" class="c-jobSearchLinks u-clearFix js-scrollToH-wrapper">
        <div class="container u-clearFix">
            <a class="c-jobSearchLinks__link " href="https://jobinja.ir/jobs">
                جستجو
            </a>
            <a class="c-jobSearchLinks__link " href="https://jobinja.ir/jobs/applied">
                درخواست‌های من
            </a>
            <a class="c-jobSearchLinks__link " href="https://jobinja.ir/liked">
                نشان‌شده‌ها
            </a>
            <a class="c-jobSearchLinks__link " href="https://jobinja.ir/recommended">
                آگهی‌های پیشنهادی
            </a>
            <div class="c-jobSearchLinks__leftBlock">
                <a class="c-jobSearchLinks__leftBlockAnchor" href="https://jobinja.ir/user-redirect?msg=how_tos.job_alert&amp;after=https%3A%2F%2Fjobinja.ir%2Fjob-alert%2Fcreate">
                    از آگهی‌های جدید باخبر شو
                </a>
            </div>
        </div>
    </div>
</scroll-position-responsive>

        
        <div class="c-flashMessage container js-flashMessageContainer c-header__flashMessageContainer">
        <div class="c-flashMessage__box c-flashMessage__box--inContainer   is-hidden js-flashMessage">
    <div class="c-flashMessage__message js-flashMessageMsg">
        
    </div>
    <a class="c-flashMessage__close js-closeFlashMessage" href="#">
        <i class="c-icon c-icon--close c-icon--16x16 c-flashMessage__closeIcon"></i>
    </a>
</div>
    </div>


        </header>
<div class="c-header__placeholder js-headerPlaceHolder"></div>


            <div class="body">
        <div class="container u-clearFix">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main">
                        <div class="c-heading c-heading--h3 c-heading--hasTitle c-heading--sectionHeading u-clearFix u-paddingBottom30" >
                            <div class="c-heading__title u-textCenter">
                                جابینجا به چه شکلی به استخدام شدن
                                سروین
                                کمک می‌کنه؟
                                <span class="c-heading__promote c-heading__promote--h3">رایگان</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="c-howTo col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
                                
                                <section class="o-box o-box--padded u-mB50 c-howTo__item">
                                    <div class="c-howTo__item_indicator">
                                        ۱
                                    </div>
                                    <div class="c-howTo__item_title">
                                        جستجو در آگهی‌های استخدام و ارسال رزومه
                                    </div>
                                    <div class="c-howTo__item__desc">
                                        با جستجو در آگهی‌های استخدام بیش از ۳۰۰۰ شرکت معتبر ایرانی می‌تونید رزومتون رو برای فرصت‌های شغلی فعال شرکت‌ها ارسال کنید و وضعیتش رو از داخل جابینجا پیگیری کنید.
                                        با ارسال کردن رزومتون به فرصت‌های شغلی مرتبط شانس استخدامتون رو افزایش بدید.
                                    </div>
                                    <div class="c-howTo__item_action u-textLeft">
                                        <a href="https://jobinja.ir/user-redirect?msg=how_tos.search&amp;msg_reverse=&amp;after=https%3A%2F%2Fjobinja.ir%2Fjobs" class="c-btn c-btn--primary c-btn--semiFlat">جستجو در آگهی‌ها و ارسال رزومه</a>
                                    </div>
                                </section>
                                <section class="o-box o-box--padded u-mB50 c-howTo__item">
                                    <div class="c-howTo__item_indicator">
                                        ۲
                                    </div>
                                    <div class="c-howTo__item_title">
                                        ایجاد اطلاع‌رسان مشاغل مرتبط جدید
                                    </div>
                                    <div class="c-howTo__item__desc">
                                        با استفاده از این سرویس نیازی نیست دنبال فرصت‌های شغلی بگردید، آگهی‌های استخدام جدید بلافاصله پس از انتشار به شما اطلاع داده می‌شن، اگر شغل مورد نظرتون رو پیدا نکردید و یا به صورت جدی قصد تغییر شغلتون رو ندارید می‌تونید اطلاع‌رسان خودتون رو تعریف کنید تا فرصت‌های شغلی جدید رو از دست ندید.
                                    </div>
                                    <div class="c-howTo__item_action u-textLeft">
                                        <a href="https://jobinja.ir/user-redirect?msg=how_tos.job_alert&amp;after=https%3A%2F%2Fjobinja.ir%2Fjob-alert" class="c-btn c-btn--primary c-btn--semiFlat">ایجاد اطلاع‌رسان مشاغل جدید</a>
                                    </div>
                                </section>

                                <section class="o-box o-box--padded u-mB50 c-howTo__item">
                                    <div class="c-howTo__item_indicator">
                                        ۳
                                    </div>
                                    <div class="c-howTo__item_title">
                                        از رزومه‌ساز استاندارد جابینجا استفاده کنید
                                    </div>
                                    <div class="c-howTo__item__desc">
                                        رزومه‌ی استاندارد تاثیر زیادی روی بررسی که کارفرما روی شما انجام میده داره، در صورتی که رزومه استاندارد ندارید با رزومه‌ساز جابینجا در کمتر از چند دقیقه رزومتون رو ایجاد کنید.
                                    </div>
                                    <div class="c-howTo__item_action u-textLeft">
                                        <a href="https://jobinja.ir/user-redirect?msg=how_tos.cv_builder&amp;msg_reverse=how_tos.cv_builder_reverse&amp;after=https%3A%2F%2Fjobinja.ir%2Fapp%2Fcv-builder" class="c-btn c-btn--primary c-btn--semiFlat">رزومه‌ساز</a>
                                    </div>
                                </section>

                                <section class="o-box o-box--padded u-mB50 c-howTo__item">
                                    <div class="c-howTo__item_indicator">
                                        ۴
                                    </div>
                                    <div class="c-howTo__item_title">
                                        با فرهنگ‌سازمانی و محیط کار شرکت‌ها آشنا شوید
                                    </div>
                                    <div class="c-howTo__item__desc">
                                        در صورتی که در حال حاضر مشغول هستید و یا دوست دارید قبل از استخدام شدن با محیط شرکت‌ها آشنا شوید، جابینجا اطلاعات کاملی از تعداد زیادی از شرکت‌های ایرانی رو در اختیارتون قرار میده، که می‌تونید با توجه به اون شغل جدیدتون رو انتخاب کنید.
                                    </div>
                                    <div class="c-howTo__item_action u-textLeft">
                                        <a href="https://jobinja.ir/top50" class="c-btn c-btn--primary c-btn--semiFlat">شرکت‌های برتر در حال استخدام</a>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>

        </div>

            <footer class="c-footer2 js-fixedWidgetDefaultReverseAnchor ">
  <div class="c-footer2__container container new-container">
    <div class="row">
      <ul class="c-footer2__nav c-footerNav js-footerNav">
        <li class="c-footerNav__item c-footerNav__item--level1 js-footerItemLevel1">
                      <a class="c-footerNav__link c-footerNav__link--level1 js-footerLinkLevel1" href="#">
    کارجویان
    <span class="c-footerNav__toggle">
        <i class="c-footerNav__toggleIcon c-icon c-icon--12x12 c-icon--down-arrow"></i>
    </span>
</a>
            <ul class="c-footerNav__list c-footerNav__list--level2 js-footerListLevel2">
                                                <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/knowledge/job-seeker-faq/pages/job-seeker-account-faq">سوالات متداول کارجویان</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/knowledge/job-seeker-faq/pages/job-seeker-tos">قوانین و مقررات کارجویان</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/browsejobs">لیست مشاغل</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/jobs">آگهی&zwnj;های استخدام</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/job-alert/landing">ایمیل&zwnj;های اطلاع&zwnj;رسانی</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/%D8%B1%D8%B2%D9%88%D9%85%D9%87-%D8%B3%D8%A7%D8%B2-%D8%A2%D9%86%D9%84%D8%A7%DB%8C%D9%86">رزومه&zwnj;ساز آنلاین</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/companies">آشنایی با شرکت&zwnj;ها</a>
</li>
                                          </ul>

                  </li>
        <li class="c-footerNav__item c-footerNav__item--level1 js-footerItemLevel1">
                      <a class="c-footerNav__link c-footerNav__link--level1 js-footerLinkLevel1" href="#">
    میانبرها
    <span class="c-footerNav__toggle">
        <i class="c-footerNav__toggleIcon c-icon c-icon--12x12 c-icon--down-arrow"></i>
    </span>
</a>
            <ul class="c-footerNav__list c-footerNav__list--level2 js-footerListLevel2">
                                                <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/jobs/applied">درخواست&zwnj;های من</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/job-alert">ایمیل&zwnj;های اطلاع&zwnj;رسانی من</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/profile/wizard">رزومه&zwnj;ساز</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/profile/LvAr">مشاهده رزومه</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/account">تنظیمات حساب کاربری</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/recommended">فرصت&zwnj;های شغلی پیشنهادی من</a>
</li>
                                          </ul>
                  </li>
        <li class="c-footerNav__item c-footerNav__item--level1 js-footerItemLevel1">
                      <a class="c-footerNav__link c-footerNav__link--level1 js-footerLinkLevel1" href="#">
    جابینجا
    <span class="c-footerNav__toggle">
        <i class="c-footerNav__toggleIcon c-icon c-icon--12x12 c-icon--down-arrow"></i>
    </span>
</a>
            <ul class="c-footerNav__list c-footerNav__list--level2 js-footerListLevel2">
                                                <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/contact">تماس با جابینجا</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/in-press">جابینجا در رسانه&zwnj;ها</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_self"  href="https://jobinja.ir/how-to">راهنمای استفاده برای کارجویان</a>
</li>
                                  <li class="c-footerNav__item c-footerNav__item--level2">
    <a class="c-footerNav__link c-footerNav__link--level2" target="_blank"  href="https://blog.jobinja.ir">وبلاگ</a>
</li>
                                          </ul>
                  </li>
      </ul>
      <div class="c-footer2__extras">
        <div class="c-footerWidget c-footer2__extrasWidget">
          <header class="c-footerWidget__header c-footer2__extrasHeader">
            جابینجا در شبکه‌های اجتماعی
          </header>
          <div class="c-footerWidget__body">
            <ul class="o-iconList o-iconList--hr o-iconList--4 c-footer2__socials">
              <li class="o-iconList__item c-footer2__socialItem">
                <a class="o-iconList__link c-socialLink c-socialLink--instagram" target="_blank" rel="nofollow" title="instagram" href="https://www.instagram.com/myjobinja/">
                  <span class="c-socialLink__text">instagram</span>
                </a>
              </li>
              <li class="o-iconList__item c-footer2__socialItem">
                <a class="o-iconList__link c-socialLink c-socialLink--twitter" target="_blank" title="twitter" rel="nofollow" href="https://twitter.com/Jobinja_ir">
                  <span class="c-socialLink__text">twitter</span>
                </a>
              </li>
              <li class="o-iconList__item c-footer2__socialItem">
                <a class="o-iconList__link c-socialLink c-socialLink--telegram" target="_blank" title="telegram" rel="nofollow" href="https://jobinja.ir/telegram">
                  <span class="c-socialLink__text">telegram</span>
                </a>
              </li>
              <li class="o-iconList__item c-footer2__socialItem">
                <a class="o-iconList__link c-socialLink c-socialLink--linkedin" target="_blank" title="linkedin" rel="nofollow" href="https://www.linkedin.com/company/10081041">
                  <span class="c-socialLink__text">linkedin</span>
                </a>
              </li>
            </ul>
            <img class="c-footer2__logo" src="https://jobinja.ir/assets/img/logo-gray.png" alt="jobinja">
            <p class="c-footer2__text">با معتبرترین شرکت‌های کشور آشنا شوید و محل کار آینده خود را هوشمندانه انتخاب
              کنید.</p>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="c-footer2__copyright">
    &copy;
    ۱۴۰۵
    -
    تمامی حقوق برای جابینجا محفوظ است.
  </div>
  </div>
</footer>
    
            <a class="c-moveUp js-moveUp" href="#">
    <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   id="Capa_1"
   x="0px"
   y="0px"
   viewBox="0 0 306 306"
   style="enable-background:new 0 0 306 306;"
   xml:space="preserve"
   inkscape:version="0.48.4 r9939"
   width="100%"
   height="100%"
   sodipodi:docname="up-arrow.blade.php.svg"><metadata
     id="metadata42"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs
     id="defs40" /><sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="2560"
     inkscape:window-height="1056"
     id="namedview38"
     showgrid="false"
     inkscape:zoom="0.77124183"
     inkscape:cx="153"
     inkscape:cy="153"
     inkscape:window-x="0"
     inkscape:window-y="24"
     inkscape:window-maximized="1"
     inkscape:current-layer="Capa_1" /><g
     id="g3"
     transform="matrix(1,0,0,-1,0,306)"><g
       id="expand-more"><polygon
         points="153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35 270.3,58.65 "
         id="polygon6" /></g></g><g
     id="g8" /><g
     id="g10" /><g
     id="g12" /><g
     id="g14" /><g
     id="g16" /><g
     id="g18" /><g
     id="g20" /><g
     id="g22" /><g
     id="g24" /><g
     id="g26" /><g
     id="g28" /><g
     id="g30" /><g
     id="g32" /><g
     id="g34" /><g
     id="g36" /></svg></a>

    
                
            
    
            <script type="text/javascript">
    // Set base javascript needs
    var apiV10 = 'https://jobinja.ir/api/v10';
    window.apiV10 = apiV10;
    var baseUrl = 'https://jobinja.ir';
    var baseHrUrl = 'https://panel.jobinja.ir/dashboard';
    var currentGYear = parseInt('2026');
    var currentJYear = parseInt('1405');
    var currentJMonth = parseInt('2');
    var isAuthenticated = !!parseInt('1');
    window.isAuthenticated = isAuthenticated;
    var isProduction = !!parseInt('1');
    var serverTimezone = parseFloat('3.5');
    var fromCampaign = parseInt('0');
    var campaignParam = '';
    if (currentJYear === 0) {
        currentJYear = null;
    }
    if (currentGYear === 0) {
        currentGYear = null;
    }

            window.formErrors = {}
    
    window.jobinja = {
                apiV10 : apiV10,
                baseUrl : baseUrl,
                baseHrUrl : baseHrUrl,
                currentGYear : currentGYear,
                currentJYear : currentJYear,
                currentJMonth : currentJMonth,
                formErrors : window.formErrors,
                isAuthenticated: isAuthenticated,
                serverTimezone: serverTimezone,
                fromCampaign: fromCampaign,
                campaignParam: campaignParam,
                isProduction: isProduction,
                showIWFModal: true,
                currentJalaliDate: "1405-02-23"
            };
</script>
    <script type="text/javascript" src="https://jobinja.ir/assets/js/end_user.bundle.js?v=2478898"></script>

    
</body>
</html>