<!DOCTYPE HTML>
<html class="l-default lo-stickyFooter">
<head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="AOft-WEotMv438AjZRpVwWb6klhRcCbqGU-V4YFUgtQ" />
    <meta name="csrf-token" content="h5YjlMA8EnQEfDNEqqQFlvgtUCbxotlxv1Kut78n">
    <link rel="canonical" href="https://jobinja.ir/job-alert/landing"/>
<link rel="dns-preconnect" href="https://thumb2.jobinjacdn.com">
        <link rel="apple-touch-icon" sizes="57x57" href="https://jobinja.ir/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://jobinja.ir/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://jobinja.ir/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://jobinja.ir/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://jobinja.ir/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://jobinja.ir/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://jobinja.ir/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://jobinja.ir/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://jobinja.ir/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://jobinja.ir/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://jobinja.ir/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://jobinja.ir/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://jobinja.ir/favicon-16x16.png">
<link rel="manifest" href="https://jobinja.ir/manifest.json">
<meta name="msapplication-TileColor" content="#1abc9c">
<meta name="msapplication-TileImage" content="https://jobinja.ir/ms-icon-144x144.png">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#1abc9c">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#1abc9c">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#1abc9c">




                    <title>جابینجا</title>
<meta name="description" content="شغل بعدی شما اینجاست!">
<meta property="og:title" content="جابینجا" />
<meta property="og:description" content="شغل بعدی شما اینجاست!" />
<meta property="og:type" content="website" />
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Jobinja_ir" />
<meta name="twitter:creator" content="@Jobinja_ir" />
            
            <link rel="stylesheet" type="text/css" href="https://jobinja.ir/assets/css/end_user.css?v=2478898"/>



    
                                        

    <!--[if IE]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
</head>


<body  id="job-alert-landing"  class="l-default__body lo-stickyFooter__body no-js js--requestPush  p--noFooter   js-jobinjaEndUserApp ">
    <script>
  (function(w, er, b, cn, ec, rsp, sp, fl) {
    b[cn] = (b[cn][sp](rsp)[fl](function(i) { return i != 'no-js';}).join(' ')) + ' js js-notReady';
    w[er] = function() { if(b[cn][sp](rsp)[fl](function(c){ return c == ec; }).length === 0) b[cn] = b[cn] + ' ' + ec; };
  })(window, 'onerror', document.getElementsByTagName('body')[0], 'className', 'js-error', /\s+/, 'split', 'filter');
</script>

    <div class="body l-default__content lo-stickyFooter__content">

            
  <header class="c-header js-header  c-header--distractionFree  is-loggedIn">
    <div class="c-header__wrap js-flashMessageAnchor">
    <div class="c-header__container c-header__container--padded container">

                    <div class="c-header__branding">
    <a class="c-header__brandingLink" href="https://jobinja.ir">
        <h3 class="c-header__brandingHeading">Jobinja | جابینجا | استخدام، آگهی استخدام، کاریابی، استخدامی جدید، بازار کار، نیازمندیها، ساخت رزومه رایگان، کار و استخدام دولتی، اشتغال، جستجوگر حرفه ای استخدام و شغل</h3>
    </a>
</div>
        
        <div class="c-header__nav c-nav2 js-nav2 ">
                            <div class="c-nav2__navWrap">
                    <a class="c-nav2__iconLink c-nav2__toggle c-nav2IconLink o-iconLink o-iconLink--32x32 js-nav2Toggle" href="#" name="منو">
                        <i class="c-nav2__toggleOpenIcon  o-iconLink__icon o-iconLink__icon--1 c-icon c-icon--24x24 c-icon--menu"></i>
                        <i class="c-nav2__toggleCloseIcon o-iconLink__icon o-iconLink__icon--2 c-icon c-icon--24x24 c-icon--close"></i>
                    </a>
                    <a href="#" class="c-nav2__toggleGhostClose js-nav2ToggleGhostClose"></a>

                                            <nav class="c-nav2__burgerDropDown js-burgerDropDown">
                            <ul class="c-nav2__burgerList js-burgerList">
                                                                        <li class="c-nav2__burgerItem">
    <a href="https://jobinja.ir" target="_self" class="c-nav2__burgerItemLink">
                    <i class="c-emojicon c-emojicon--house"></i>
                خانه
    </a>
</li>    <li class="c-nav2__burgerItem">
    <a href="https://jobinja.ir/jobs" target="_self" class="c-nav2__burgerItemLink" name="جستجو">
        <i class="c-emojicon c-emojicon--magnifier"></i>
        جستجوی مشاغل
    </a>
</li>    <li class="c-nav2__burgerItem">
    <a href="https://jobinja.ir/app/cv-builder" target="_self" class="c-nav2__burgerItemLink">
                    <i class="c-emojicon c-emojicon--sparkles"></i>
                رزومه&zwnj;ساز
    </a>
</li>    <li class="c-nav2__burgerItem">
    <a href="https://jobinja.ir/top50" target="_self" class="c-nav2__burgerItemLink">
                    <i class="c-emojicon c-emojicon--gemstone"></i>
                ۵۰ شرکت برتر
    </a>
</li>                                                            </ul>
                        </nav>
                    
                    <a class="c-nav2__mobileSearch c-nav2IconLink o-iconLink o-iconLink--32x32" href="https://jobinja.ir/jobs" name="جستجو">
                        <i class="o-iconLink__icon c-icon c-icon--24x24 c-icon--search2 u-block"></i>
                    </a>
                </div>
            
            
                <div class="c-nav2__extras">

                    
                        <div class="c-nav2__desktopExtras">
    </div>


                        
                            <div class="u-flex u-alignItemCenter">

                                <notifications inline-template>
                                    <a
                                        class="c-nav2Notifications__toggle c-nav2IconLink
                                            o-iconLink o-iconLink--32x32 js-nav2NotificationsToggle
                                        "
                                        v-on="click: collapse"
                                    >
                                        <i class="o-iconLink__icon c-icon c-icon--24x24 c-icon--notification u-block"></i>
                                        <span
                                            class="c-nav2Notifications__count c-nav2Notifications__count--total"
                                            v-if="badgeCounter > 0 && showBadge"
                                            v-cloak="hide"
                                        >
                                            {{ badgeCounter | to-farsi }}
                                        </span>
                                    </a>
                                <div
                                    v-if="show"
                                    v-transition="expand"
                                    class="notification-box"
                                    id="notification_box"
                                    v-cloak="hide"
                                >
                                    <div class="arrow-up"></div>
                                    <div v-if="allMessageCount === 0" class="empty">
                                        در حال حاضر پیامی جهت مشاهده وجود ندارد
                                    </div>
                                    <div class="notification-item" v-repeat="data in notifs">
                                        <div class="notification-item__header">
                                            <span class="xs">
                                                {{data.readable_type === "application_status_change" ? 'تغییر وضعیت درخواست' : 'پیام جدید'}}
                                            </span>
                                            <label class="xl">
                                               {{ data.how_long_ago }}
                                            </label>
                                        </div>
                                        <p class="notification-item__body">{{ data.message }}</p>
                                        <a href="{{ data.link }}" target="_blank" class="notification-item__footer">
                                            مشاهده جزئیات
                                        </a>
                                    </div>
                                </div>
                                </notifications>
                                <div class="c-nav2__accountManager c-nav2AccountManager js-nav2AccountManager">
    <a class="c-nav2AccountManager__toggle c-nav2IconLink o-iconLink o-iconLink--32x32 js-nav2AccountManagerToggle" title="سروین باغی" href="#" name="مدیریت حساب">
        <i class="c-nav2AccountManager__toggleIcon o-iconLink__icon c-icon c-icon--24x24 c-icon--person2"></i>
            <span class="c-nav2AccountManager__toggleLabel ">
                سروین باغی
            </span>
        <i class="c-nav2AccountManager__arrow c-icon c-icon--12x12 c-icon--down-arrow"></i>
    </a>
    <a href="#" class="c-nav2AccountManager__toggleGhostClose"></a>
    <div class="c-nav2AccountManager__dropDown js-nav2AccountManagerDropDown">
        <ul class="c-nav2AccountManager__list">
                        <li class="c-nav2AccountManager__item c-nav2AccountManager__item--noLink c-nav2AccountManager__item--mobileOnly ">
                <span href="#" target="_blank" class="c-nav2AccountManager__itemLink">
                    سروین باغی
                </span>
            </li>
                                        <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/jobs/applied" target="_self" class="c-nav2AccountManager__itemLink">
                        درخواست&zwnj;های من
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/job-alert" target="_self" class="c-nav2AccountManager__itemLink">
                        ایمیل&zwnj;های اطلاع&zwnj;رسانی من
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/liked" target="_self" class="c-nav2AccountManager__itemLink">
                        فرصت&zwnj;های شغلی نشان&zwnj;شده
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/recommended" target="_self" class="c-nav2AccountManager__itemLink">
                        فرصت&zwnj;های شغلی پیشنهادی
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/profile/wizard" target="_self" class="c-nav2AccountManager__itemLink">
                        رزومه&zwnj;ساز
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/profile/LvAr" target="_blank" class="c-nav2AccountManager__itemLink">
                        مشاهده رزومه
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/account" target="_self" class="c-nav2AccountManager__itemLink">
                        تنظیمات حساب&zwnj;کاربری من
                    </a>
                </li>
                            <li class="c-nav2AccountManager__item">
                    <a href="https://jobinja.ir/logout" target="_self" class="c-nav2AccountManager__itemLink">
                        خروج
                    </a>
                </li>
                    </ul>
    </div>
</div>
                            </div>
                        
                                                            </div>
                    </div>
    </div>
</div>


    
        
        <div class="c-flashMessage container js-flashMessageContainer c-header__flashMessageContainer">
        <div class="c-flashMessage__box c-flashMessage__box--inContainer   is-hidden js-flashMessage">
    <div class="c-flashMessage__message js-flashMessageMsg">
        
    </div>
    <a class="c-flashMessage__close js-closeFlashMessage" href="#">
        <i class="c-icon c-icon--close c-icon--16x16 c-flashMessage__closeIcon"></i>
    </a>
</div>
    </div>


        </header>
<div class="c-header__placeholder js-headerPlaceHolder"></div>


            <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <h2 class="c-heading c-heading--h2 u-bold u-textCenter u-mT20">فرصت‌های شغلی جدید در ایمیل شما!</h2>
                    <p class="u-textLarge u-textCenter">
                        اولین نفری که برای کارفرمایان رزومه ارسال می‌کند شما باشید. هر هفته فرصت‌های شغلی جدید برای شما ارسال می‌شود.
                    </p>
                    <div class="o-box">
    <job-alert-form init-state="{&quot;meta&quot;:null,&quot;email&quot;:&quot;sarvin80.b@gmail.com&quot;,&quot;keyword_is_editable&quot;:true,&quot;show_duration&quot;:true,&quot;show_email&quot;:true}" inline-template>
        <div class="o-form o-form--flex o-form--bordered o-form--validation2" v-cloak="hidden">
                        <div class="o-form__row o-form__row--double">
                <div class="o-form__item o-form__item--noBorder">
                    <label class="o-form__itemLabel" for="jobCatSelect">
                        دسته‌بندی شغلی
                        <span href="#" class="c-helpMark"
                              data-trigger="click"
                              data-toggle="popover"
                              data-html="true"
                              data-content="به صورت پیش‌فرض تمام فرصت‌های شغلی برای شما ارسال می‌شوند، با انتخاب دسته‌بندی شغلی مربوط به خود فرصت‌های شغلی جدید برای شما ارسال می‌شوند."
                              data-placement="left"
                              data-container="body"
                              data-original-title=""
                        >
                            ؟
                        </span>
                    </label>
                    <div class="o-form__itemInputWrap">
                        <input type="hidden"
                               name="job_categories_ids"
                               v-model="selectedJobCategoriesIds"
                               v-j-validate
                               v-validate="required2"
                        >
                        <div v-j-validate="{model:'selectedJobCategoriesIds', mode:'default'}">
                            <simple-select
                                    id="jobCatSelect"
                                    options="{{@ jobCategories }}"
                                    placeholder="دسته‌بندی شغلی را انتخاب کنید(حداکثر ۵ دسته بندی)"
                                    selected-id="{{@ jobCategoryId }}" >

                            </simple-select>
                        </div>
                        <div class="o-form__itemHint"
                             v-j-validate="{
                                 model: 'selectedJobCategoriesIds',
                                 msg: {
                                     required2: 'انتخاب دسته‌بندی شغلی الزامی است'
                                 }
                             }"
                        ></div>
                    </div>
                </div>

                <div class="o-form__item o-form__item--noLabel">
                    <tag-lister tags="{{@ selectedJobCategories }}" inline-template>
                        <div class="o-form__itemHint o-form__itemHint--normalFlow" v-show="!tags.length">هیچ دسته‌بندی شغلی مرتبطی انتخاب نشده است</div>
                        <div v-if="tags.length" class="c-tagger" v-cloak>
                            <div class="c-tagger__tag" v-repeat="item in tags" v-transition="tag">
                                <span class="c-tagger__tagRemove" v-on="click : handleTagRemove(item)">
                                    <i class="c-icon c-icon--12x12 c-icon--close"></i>
                                </span>
                                {{ item.text }}
                            </div>
                        </div>
                    </tag-lister>
                </div>
            </div>

            <div class="o-form__row o-form__row--double">
                <div class="o-form__item">
                    <label class="o-form__itemLabel" for="titleInp">
                        عنوان شغلی، مهارت یا کلمات کلیدی
                        <span class="u-primaryText u-bold">(اختیاری)</span>
                        <span href="#" class="c-helpMark"
                              data-trigger="click"
                              data-toggle="popover"
                              data-html="true"
                              data-content="با وارد کردن عنوان شغلی، مهارت یا کلمات کلیدی مناسب با رزومه‌ی کاری خود، مشاغل مرتبط با آن‌ها برای شما ارسال می‌شوند. وارد کردن کلمات کلیدی کاملا اختیاریست."
                              data-placement="left"
                              data-container="body"
                              data-original-title=""
                        >
                            ؟
                        </span>
                    </label>
                    <div class="o-form__itemInputWrap">
                        <input name="title" type="text" id="titleInp" placeholder="مثال: منشی، برنامه‌نویس php، مدیر فروش" v-attr="disabled: disableTitle" v-model="title">
                    </div>
                </div>

                <div class="o-form__item">
                    <label class="o-form__itemLabel" for="jobTypeSelect">
                        نوع قرارداد
                        <span class="u-primaryText u-bold">(اختیاری)</span>
                        <span href="#" class="c-helpMark"
                              data-trigger="click"
                              data-toggle="popover"
                              data-html="true"
                              data-content="با انتخاب نوع قرارداد (تمام وقت، پاره وقت، دورکاری و یا کارآموزی) فرصت‌های شغلی مرتبط برای شما ارسال می‌شوند. انتخاب نوع قرارداد کاملا اختیاریست."
                              data-placement="left"
                              data-container="body"
                              data-original-title=""
                        >
                            ؟
                        </span>
                    </label>
                    <div class="o-form__itemInputWrap">
                        <input type="hidden" name="job_type" v-model="jobType">
                        <simple-select
                                options="{{@ jobTypes }}"
                                id="jobTypeSelect"
                                placeholder="نوع قرار داد را انتخاب کنید"
                                selected-id="{{@ jobType }}" >

                        </simple-select>
                    </div>
                </div>
            </div>

            <div class="o-form__row o-form__row--double">
                <div class="o-form__item o-form__item--noBorder">
                    <label class="o-form__itemLabel" for="jobCityInp">
                        شهر شغل
                        <span href="#" class="c-helpMark"
                              data-trigger="click"
                              data-toggle="popover"
                              data-html="true"
                              data-content="شهرهایی که مایل هستید در آنها کار کنید را انتخاب نمایید، فرصت‌های شغلی این شهرها برای شما ارسال خواهند شد."
                              data-placement="left"
                              data-container="body"
                              data-original-title=""
                        >
                            ؟
                        </span>
                    </label>
                    <div class="o-form__itemInputWrap">
                        <input type="hidden" name="city_id" v-model="selectedCitiesIds" v-validate="required2" v-j-validate >
                        <div v-j-validate="{model:'selectedCitiesIds', mode:'default'}">
                            <simple-select
                                    options="{{@ cities }}"
                                    id="jobCityInp"
                                    placeholder="شهر یا استان فرصت شغلی را انتخاب کنید (حداکثر ۵ شهر)"
                                    selected-id="{{@ cityId }}" >
                            </simple-select>
                        </div>
                        <div class="o-form__itemHint"
                             v-j-validate="{
                                model: 'selectedCitiesIds',
                                msg: {
                                    required2: 'انتخاب شهر شغل الزامی است',
                                }
                             }"
                        ></div>
                    </div>
                </div>

                <div class="o-form__item o-form__item--noLabel">
                    <tag-lister tags="{{@ selectedCities }}" inline-template>
                        <div class="o-form__itemHint o-form__itemHint--normalFlow" v-show="!tags.length">
                            هیچ شهر یا استان مرتبطی انتخاب نشده است.
                        </div>
                        <div v-if="tags.length" class="c-tagger" v-cloak>
                            <div class="c-tagger__tag" v-repeat="item in tags" v-transition="tag">
                                <span class="c-tagger__tagRemove" v-on="click : handleTagRemove(item)">
                                    <i class="c-icon c-icon--12x12 c-icon--close"></i>
                                </span>
                                {{ item.text }}
                            </div>
                        </div>
                    </tag-lister>
                </div>
            </div>

            <div class="o-form__row o-form__row--double" v-if="showDuration || showEmail">
                <div class="o-form__item" v-if="showDuration">
                    <label class="o-form__itemLabel" for="durationInp">
                        ارسال به صورت
                        <span href="#" class="c-helpMark"
                              data-trigger="click"
                              data-toggle="popover"
                              data-html="true"
                              data-content="ایمیل‌ اطلاع رسانی فرصت‌های شغلی جدید، به صورت روزانه و یا هفتگی با توجه به انتخاب شما برایتان ارسال می‌شود."
                              data-placement="left"
                              data-container="body"
                              data-original-title=""
                        >
                            ؟
                        </span>
                    </label>
                    <div class="o-form__itemInputWrap">
                        <input type="hidden" name="duration" v-model="duration" v-validate="required" v-j-validate >
                        <button-radio id="duration" options="{{@ durations }}" selected="{{@ duration }}" is-valid="{{ !isInvalidDuration }}" ></button-radio>
                        <div class="o-form__itemHint"
                             v-j-validate="{
                                model: 'duration',
                                msg: {
                                    required: 'تعداد دفعات ارسال را انتخاب نمایید'
                                }
                             }"
                        >
                        </div>
                    </div>
                </div>

                <div class="o-form__item" v-if="showEmail">
                    <label class="o-form__itemLabel" for="emailInp">
                        ایمیل شما
                        <span href="#" class="c-helpMark"
                              data-trigger="click"
                              data-toggle="popover"
                              data-html="true"
                              data-content="فرصت‌های شغلی مرتبط با شما، به آدرس ایمیلی که وارد کرده‌اید، ارسال می‌شوند."
                              data-placement="left"
                              data-container="body"
                              data-original-title=""
                        >
                            ؟
                        </span>
                    </label>
                    <div class="o-form__itemInputWrap">
                        <input name="email" type="text" class="u-ltr"
                               id="emailInp" placeholder="آدرس ایمیل خود را وارد نمایید"
                               v-model="email"
                               v-validate="required,email"
                               v-j-validate
                               v-attr="disabled: disableEmail"
                        >
                        <div class="o-form__itemHint"
                             v-j-validate="{
                                model: 'email',
                                msg: {
                                    required: 'آدرس ایمیل الزامی است',
                                    email: 'آدرس ایمیل صحیح نیست'
                                }
                             }"
                        ></div>
                    </div>
                </div>
            </div>

            <div class="o-form__row o-form__row--single">
                <div class="o-form__item u-textCenter">
                    <div class="o-loadingBlock">
                                                <input class="c-btn c-btn--primary c-btn--blockFullWidth u-mB10" type="submit"
                               value="دریافت فرصت&zwnj;های شغلی"
                               v-on="click:submit"
                               v-attr="disabled: loading"
                        />
                        <div class="c-spinLoader c-spinLoader--thinMargin c-spinLoader--32x32 o-loadingBlock__loader" v-show="loading"></div>
                    </div>
                                            <a href="https://jobinja.ir/jobs" class="u-textSmall c-muteLink c-muteLink--muter">نمی‌خواهم مطلع شوم</a>
                                    </div>
            </div>
        </div>
    </job-alert-form>
</div>
                </div>
            </div>
        </div>
    </div>
    </div>

     
            <a class="c-moveUp js-moveUp" href="#">
    <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   id="Capa_1"
   x="0px"
   y="0px"
   viewBox="0 0 306 306"
   style="enable-background:new 0 0 306 306;"
   xml:space="preserve"
   inkscape:version="0.48.4 r9939"
   width="100%"
   height="100%"
   sodipodi:docname="up-arrow.blade.php.svg"><metadata
     id="metadata42"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs
     id="defs40" /><sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="2560"
     inkscape:window-height="1056"
     id="namedview38"
     showgrid="false"
     inkscape:zoom="0.77124183"
     inkscape:cx="153"
     inkscape:cy="153"
     inkscape:window-x="0"
     inkscape:window-y="24"
     inkscape:window-maximized="1"
     inkscape:current-layer="Capa_1" /><g
     id="g3"
     transform="matrix(1,0,0,-1,0,306)"><g
       id="expand-more"><polygon
         points="153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35 270.3,58.65 "
         id="polygon6" /></g></g><g
     id="g8" /><g
     id="g10" /><g
     id="g12" /><g
     id="g14" /><g
     id="g16" /><g
     id="g18" /><g
     id="g20" /><g
     id="g22" /><g
     id="g24" /><g
     id="g26" /><g
     id="g28" /><g
     id="g30" /><g
     id="g32" /><g
     id="g34" /><g
     id="g36" /></svg></a>

    
                
            
    
            <script type="text/javascript">
    // Set base javascript needs
    var apiV10 = 'https://jobinja.ir/api/v10';
    window.apiV10 = apiV10;
    var baseUrl = 'https://jobinja.ir';
    var baseHrUrl = 'https://panel.jobinja.ir/dashboard';
    var currentGYear = parseInt('2026');
    var currentJYear = parseInt('1405');
    var currentJMonth = parseInt('2');
    var isAuthenticated = !!parseInt('1');
    window.isAuthenticated = isAuthenticated;
    var isProduction = !!parseInt('1');
    var serverTimezone = parseFloat('3.5');
    var fromCampaign = parseInt('0');
    var campaignParam = '';
    if (currentJYear === 0) {
        currentJYear = null;
    }
    if (currentGYear === 0) {
        currentGYear = null;
    }

            window.formErrors = {}
    
    window.jobinja = {
                apiV10 : apiV10,
                baseUrl : baseUrl,
                baseHrUrl : baseHrUrl,
                currentGYear : currentGYear,
                currentJYear : currentJYear,
                currentJMonth : currentJMonth,
                formErrors : window.formErrors,
                isAuthenticated: isAuthenticated,
                serverTimezone: serverTimezone,
                fromCampaign: fromCampaign,
                campaignParam: campaignParam,
                isProduction: isProduction,
                showIWFModal: true,
                currentJalaliDate: "1405-02-23"
            };
</script>
    <script type="text/javascript" src="https://jobinja.ir/assets/js/end_user.bundle.js?v=2478898"></script>

    
</body>
</html>