<!DOCTYPE HTML>
<html class="lo-stickyFooter">
<head>
    <title>ورود کارجو | جابینجا</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="AOft-WEotMv438AjZRpVwWb6klhRcCbqGU-V4YFUgtQ" />
    <meta name="csrf-token" content="DmBBDRLysiS9PBCH3uB6KZsebOVu7KwfSxrlVnto">
    <link rel="canonical" href="http://127.0.0.1:5000/login/user"/>
<link rel="dns-preconnect" href="https://thumb2.jobinjacdn.com">
        <link rel="apple-touch-icon" sizes="57x57" href="http://127.0.0.1:5000/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="http://127.0.0.1:5000/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="http://127.0.0.1:5000/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="http://127.0.0.1:5000/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="http://127.0.0.1:5000/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="http://127.0.0.1:5000/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="http://127.0.0.1:5000/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="http://127.0.0.1:5000/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="http://127.0.0.1:5000/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="http://127.0.0.1:5000/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="http://127.0.0.1:5000/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="http://127.0.0.1:5000/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="http://127.0.0.1:5000/favicon-16x16.png">
<link rel="manifest" href="http://127.0.0.1:5000/manifest.json">
<meta name="msapplication-TileColor" content="#1abc9c">
<meta name="msapplication-TileImage" content="http://127.0.0.1:5000/ms-icon-144x144.png">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#1abc9c">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#1abc9c">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#1abc9c">




                    <title>ورود کارجو | جابینجا</title>
<meta name="description" content="برای ورود کارجو به پنل کاربری جابینجا کلیک کنید و برای شرکت ها معتبر ایرانی رزومه ارسال کنید و شغل رویایی خودتان را پیدا کنید.">
<meta property="og:title" content="ورود کارجو | جابینجا" />
<meta property="og:description" content="برای ورود کارجو به پنل کاربری جابینجا کلیک کنید و برای شرکت ها معتبر ایرانی رزومه ارسال کنید و شغل رویایی خودتان را پیدا کنید." />
<meta property="og:url" content="http://127.0.0.1:5000/login/user" />
<meta property="og:site_name" content="جابینجا، شغلی رویایی خود را پیدا کنید" />
<meta property="og:type" content="website" />
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<meta property="og:image" content="https://127.0.0.1:5000/assets/img/logo-neg-500.png?uid=3cb8dd542de664ac0acacb9cbc4490c3" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Jobinja_ir" />
<meta name="twitter:creator" content="@Jobinja_ir" />
<meta name="twitter:title" content="ورود کارجو | جابینجا" />
<meta name="twitter:description" content="برای ورود کارجو به پنل کاربری جابینجا کلیک کنید و برای شرکت ها معتبر ایرانی رزومه ارسال کنید و شغل رویایی خودتان را پیدا کنید." />
<meta name="twitter:image:width" content="200" />
<meta name="twitter:image:height" content="200" />
<meta name="twitter:url" content="http://127.0.0.1:5000/login/user" />
<meta name="twitter:images0" content="http://127.0.0.1:5000/assets/img/logo-neg-500.png?uid=3cb8dd542de664ac0acacb9cbc4490c3" />
                        <link rel="stylesheet" type="text/css" href="https://jobinja.ir/assets/css/end_user.css?v=2478898"/>



    
                                                

    <!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body  id="sign-in"  class="lo-stickyFooter__body no-js  ">
    <script>
  (function(w, er, b, cn, ec, rsp, sp, fl) {
    b[cn] = (b[cn][sp](rsp)[fl](function(i) { return i != 'no-js';}).join(' ')) + ' js js-notReady';
    w[er] = function() { if(b[cn][sp](rsp)[fl](function(c){ return c == ec; }).length === 0) b[cn] = b[cn] + ' ' + ec; };
  })(window, 'onerror', document.getElementsByTagName('body')[0], 'className', 'js-error', /\s+/, 'split', 'filter');
</script>

        <header class="c-muteHeader c-muteHeader--flyOnDesktop">
    <div class="c-muteHeader__wrap">
        <a class="c-muteHeader__brandingLink" href="/">
            <h2 class="c-muteHeader__brandingHeading">Jobinja</h2>
        </a>
    </div>
</header>
    <div class="container o-aligner o-aligner--desktopOnly o-aligner--fullHeightOnDesktop">
        <div class="row o-aligner__item">
            <div class="col-md-6">
                <form class="o-flyForm o-flyForm--noVAlign c-loginForm" action="/login" method="POST">
                    <input type="hidden" name="_token" value="DmBBDRLysiS9PBCH3uB6KZsebOVu7KwfSxrlVnto">
                    <div class="o-flyForm__header">
                        <a class="o-flyForm__headerComplement o-flyForm__headerComplement--alignHack" href="http://127.0.0.1:5000/auth/sign-in">
                            کارفرما هستید؟
                        </a>
                        <h1 class="o-flyForm__headerTitle">ورود کارجو</h1>
                    </div>
                    <div class="o-box o-box--noMarginBottom">
                        <ul class="c-tabNav">
                            <li class="c-tabNav__item is-selected">
                                <a class="c-tabNav__link" href="#">
ورود کارجو
                                </a>
                            </li>
                            <li class="c-tabNav__item">
                                                                    <a class="c-tabNav__link c-tabNav__link--sparkles" href="http://127.0.0.1:5000/join/user">
                                        ثبت‌نام کارجو
                                    </a>
                                                            </li>
                        </ul>
                        <div class="o-box o-box--invisible o-box--padded o-box--noMarginBottom">

                            <input type="hidden" name="redirect_url" value="">

                            
                            
                            <div class="c-socialLogins">
    <div class="row">
        <div class="col-xxs-12 col-xs-6">
            <a class="c-socialLogins__btn c-btn c-btn--default c-btn--blockFullWidth c-btn--hasIcon c-socialLoginBtn c-socialLoginBtn--googleDark" href="http://127.0.0.1:5000/auth/google?">
                        <span class="c-btn__icon c-socialLoginBtn__icon">
                            <svg
   xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="46px"
   height="46px"
   viewBox="0 0 46 46"
   version="1.1"
   id="svg2"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="google.svg">
  <metadata
     id="metadata58">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title>btn_google_light_normal_ios</dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="2560"
     inkscape:window-height="1056"
     id="namedview56"
     showgrid="false"
     inkscape:zoom="14.511061"
     inkscape:cx="26.99976"
     inkscape:cy="16.378645"
     inkscape:window-x="0"
     inkscape:window-y="24"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg2" />
  <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
  <title
     id="title4">btn_google_light_normal_ios</title>
  <desc
     id="desc6">Created with Sketch.</desc>
  <defs
     id="defs8">
    <filter
       x="-50%"
       y="-50%"
       width="200%"
       height="200%"
       filterUnits="objectBoundingBox"
       id="filter-1">
      <feOffset
         dx="0"
         dy="1"
         in="SourceAlpha"
         result="shadowOffsetOuter1"
         id="feOffset11" />
      <feGaussianBlur
         stdDeviation="0.5"
         in="shadowOffsetOuter1"
         result="shadowBlurOuter1"
         id="feGaussianBlur13" />
      <feColorMatrix
         values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.168 0"
         in="shadowBlurOuter1"
         type="matrix"
         result="shadowMatrixOuter1"
         id="feColorMatrix15" />
      <feOffset
         dx="0"
         dy="0"
         in="SourceAlpha"
         result="shadowOffsetOuter2"
         id="feOffset17" />
      <feGaussianBlur
         stdDeviation="0.5"
         in="shadowOffsetOuter2"
         result="shadowBlurOuter2"
         id="feGaussianBlur19" />
      <feColorMatrix
         values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.084 0"
         in="shadowBlurOuter2"
         type="matrix"
         result="shadowMatrixOuter2"
         id="feColorMatrix21" />
      <feMerge
         id="feMerge23">
        <feMergeNode
           in="shadowMatrixOuter1"
           id="feMergeNode25" />
        <feMergeNode
           in="shadowMatrixOuter2"
           id="feMergeNode27" />
        <feMergeNode
           in="SourceGraphic"
           id="feMergeNode29" />
      </feMerge>
    </filter>
    <rect
       id="path-2"
       x="0"
       y="0"
       width="40"
       height="40"
       rx="2" />
  </defs>
  <g
     id="Google-Button"
     sketch:type="MSPage"
     transform="matrix(0.6809957,0,0,0.67275537,7.3370991,7.5629019)"
     style="fill:none;stroke:none">
    <g
       id="9-PATCH"
       sketch:type="MSArtboardGroup"
       transform="translate(-608,-160)" />
    <g
       id="btn_google_light_normal"
       sketch:type="MSArtboardGroup"
       transform="translate(-1,-1)">
      <g
         id="button"
         sketch:type="MSLayerGroup"
         transform="translate(4,4)"
         style="filter:url(#filter-1)">
        <g
           id="button-bg">
          <use
             xlink:href="#path-2"
             id="use39"
             style="fill:none"
             x="0"
             y="0"
             width="46"
             height="46" />
          <use
             xlink:href="#path-2"
             id="use41"
             style="fill:none"
             x="0"
             y="0"
             width="46"
             height="46" />
          <use
             xlink:href="#path-2"
             id="use43"
             style="fill:none"
             x="0"
             y="0"
             width="46"
             height="46" />
        </g>
      </g>
      <g
         id="logo_googleg_48dp"
         sketch:type="MSLayerGroup"
         transform="translate(15,15)">
        <path
           d="m 41.072171,9.5334643 c 0,-2.3035966 -0.206723,-4.5185909 -0.590665,-6.6449878 l -30.5964769,0 0,12.5664095 17.4836999,0 c -0.753098,4.060827 -3.041927,7.501454 -6.482554,9.805051 l 0,8.151185 10.499082,0 c 6.142921,-5.655626 9.686914,-13.984008 9.686914,-23.8776577 l 0,0 z"
           id="Shape"
           sketch:type="MSShapeGroup"
           inkscape:connector-curvature="0"
           style="fill:#4285f4" />
        <path
           d="m 9.8850291,41.281738 c 8.7713839,0 16.1251709,-2.909029 21.5002279,-7.870616 L 20.886175,25.259937 c -2.909029,1.949195 -6.630221,3.100994 -11.0011459,3.100994 -8.4612833,0 -15.623104,-5.714691 -18.1777324,-13.393344 l -10.8534787,0 0,8.416984 c 5.345522,10.617215 16.3319015,17.897167 29.0312111,17.897167 l 0,0 z"
           id="path47"
           sketch:type="MSShapeGroup"
           inkscape:connector-curvature="0"
           style="fill:#34a853" />
        <path
           d="m -8.2927033,14.967587 c -0.649732,-1.949196 -1.018898,-4.031292 -1.018898,-6.1724548 0,-2.1411628 0.369166,-4.2232587 1.018898,-6.1724544 l 0,-8.4169855 -10.8534787,0 c -2.20023,4.3856924 -3.455394,9.3472831 -3.455394,14.5894399 0,5.2421588 1.255164,10.2037458 3.455394,14.5894388 l 10.8534787,-8.416984 0,0 z"
           id="path49"
           sketch:type="MSShapeGroup"
           inkscape:connector-curvature="0"
           style="fill:#fbbc05" />
        <path
           d="m 9.8850291,-10.770664 c 4.7696249,0 9.0519479,1.6390968 12.4187459,4.8582238 l 9.317746,-9.3177488 c -5.626088,-5.242156 -12.979874,-8.461284 -21.7364919,-8.461284 -12.6993096,0 -23.6856891,7.279953 -29.0312111,17.8971653 L -8.2927033,2.6226778 C -5.7380749,-5.0559741 1.4237458,-10.770664 9.8850291,-10.770664 l 0,0 z"
           id="path51"
           sketch:type="MSShapeGroup"
           inkscape:connector-curvature="0"
           style="fill:#ea4335" />
        <path
           d="M 0,0 18,0 18,18 0,18 0,0 z"
           id="path53"
           sketch:type="MSShapeGroup"
           inkscape:connector-curvature="0" />
      </g>
      <g
         id="handles_square"
         sketch:type="MSLayerGroup" />
    </g>
  </g>
</svg>
                        </span>
                ورود با گوگل
            </a>
        </div>
        <div class="col-xxs-12 col-xs-6">
            <a class="c-socialLogins__btn c-btn c-btn--default c-btn--blockFullWidth c-btn--hasIcon c-socialLoginBtn c-socialLoginBtn--linkedin" href="http://127.0.0.1:5000/auth/linkedin?">
                        <span class="c-btn__icon c-socialLoginBtn__icon">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="438px" height="438px" viewBox="0 0 438 438">
<g>
    <rect x="5.424" y="145.895" width="94.216" height="282.932"/>
    <path d="M408.842,171.739c-19.791-21.604-45.967-32.408-78.512-32.408c-11.991,0-22.891,1.475-32.695,4.427
        c-9.801,2.95-18.079,7.089-24.838,12.419c-6.755,5.33-12.135,10.278-16.129,14.844c-3.798,4.337-7.512,9.389-11.136,15.104
        v-40.232h-93.935l0.288,13.706c0.193,9.139,0.288,37.307,0.288,84.508c0,47.205-0.19,108.777-0.572,184.722h93.931V270.942
        c0-9.705,1.041-17.412,3.139-23.127c4-9.712,10.037-17.843,18.131-24.407c8.093-6.572,18.13-9.855,30.125-9.855
        c16.364,0,28.407,5.662,36.117,16.987c7.707,11.324,11.561,26.98,11.561,46.966V428.82h93.931V266.664
        C438.529,224.976,428.639,193.336,408.842,171.739z"/>
    <path d="M53.103,9.708c-15.796,0-28.595,4.619-38.4,13.848C4.899,32.787,0,44.441,0,58.529c0,13.891,4.758,25.505,14.275,34.829
        c9.514,9.325,22.078,13.99,37.685,13.99h0.571c15.99,0,28.887-4.661,38.688-13.99c9.801-9.324,14.606-20.934,14.417-34.829
        c-0.19-14.087-5.047-25.742-14.561-34.973C81.562,14.323,68.9,9.708,53.103,9.708z"/>
</g>
</svg>
                        </span>
                ورود با لینکدین
            </a>
        </div>
    </div>
</div>


                            <label class="o-flyForm__label u-hiddenUntilPhablet" for="identifier">
                                آدرس ایمیل
                                                            </label>
                            <input class="o-flyForm__textInput u-ltr " type="email" name="identifier" id="identifier" placeholder="آدرس ایمیل خود را وارد نمایید" value="">

                            <label class="o-flyForm__label u-hiddenUntilPhablet c-loginForm__passLabel" for="password">
                                رمز عبور
                                                            </label>
                            <input class="o-flyForm__textInput u-ltr " type="password" name="password" id="password" placeholder="رمز عبور خود را وارد نمایید">

                            <label class="o-flyForm__label c-loginForm__rememberMe">
                                <input type="checkbox" name="remember_me" checked>
                                مرا به خاطرت نگه دار!
                            </label>
                            <input class="c-btn c-btn--primary c-btn--blockFullWidth" type="submit" value="وارد شوید"/>
                            <div class="u-textCenter">
                                <a class="c-loginForm__resetPass" href="http://127.0.0.1:5000/login/recover?for=people">
                                    بازیابی رمز عبور
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
    <div>
        <h2 class="c-heading c-heading--h2 u-pT50">
            جابینجا چه کمکی به من می‌کنه؟
            <span class="c-heading__promote c-heading__promote--h2 c-heading__promote--flyTitle">رایگان</span>
        </h2>
        <p class="u-boldNormal u-mB30">
            همین حالا در جابینجا ثبت‌نام کن و رزومه‌ات رو برای آگهی‌های استخدام شرکت‌های معتبر بفرست.
        </p>
        <ul class="o-ul">
            <li class="o-ul__li">
                <i class="o-ul__icon c-icon c-icon--tick c-icon--16x16 u-textPrimary"></i>
                جستجوی در آگهی‌های استخدام ۲,۹۷۴ شرکت معتبر و ارسال رزومه با یک کلیک
            </li>
            <li class="o-ul__li">
                <i class="o-ul__icon c-icon c-icon--tick c-icon--16x16 u-textPrimary"></i>
                دریافت فرصت‌های شغلی
                <b>جدید</b>
                مرتبط از طریق ایمیل
                (Job Alert)
            </li>
            <li class="o-ul__li">
                <i class="o-ul__icon c-icon c-icon--tick c-icon--16x16 u-textPrimary"></i>
رزومه‌ساز استاندارد
            </li>
            <li class="o-ul__li">
                <i class="o-ul__icon c-icon c-icon--tick c-icon--16x16 u-textPrimary"></i>
                شناخت محیط کار و فرهنگ سازمانی شرکت‌های در حال استخدام
            </li>
        </ul>
    </div>
</div>
        </div>
    </div>


                
            
    
            <script type="text/javascript">
    // Set base javascript needs
    var apiV10 = 'http://127.0.0.1:5000/api/v10';
    window.apiV10 = apiV10;
    var baseUrl = 'http://127.0.0.1:5000';
    var baseHrUrl = 'https://panel.127.0.0.1:5000.ir/dashboard';
    var currentGYear = parseInt('2026');
    var currentJYear = parseInt('1405');
    var currentJMonth = parseInt('2');
    var isAuthenticated = !!parseInt('0');
    window.isAuthenticated = isAuthenticated;
    var isProduction = !!parseInt('1');
    var serverTimezone = parseFloat('3.5');
    var fromCampaign = parseInt('0');
    var campaignParam = '';
    if (currentJYear === 0) {
        currentJYear = null;
    }
    if (currentGYear === 0) {
        currentGYear = null;
    }

            window.formErrors = {}
    
    window.jobinja = {
                apiV10 : apiV10,
                baseUrl : baseUrl,
                baseHrUrl : baseHrUrl,
                currentGYear : currentGYear,
                currentJYear : currentJYear,
                currentJMonth : currentJMonth,
                formErrors : window.formErrors,
                isAuthenticated: isAuthenticated,
                serverTimezone: serverTimezone,
                fromCampaign: fromCampaign,
                campaignParam: campaignParam,
                isProduction: isProduction,
                showIWFModal: true,
                currentJalaliDate: "1405-02-21"
            };
</script>
    <script type="text/javascript" src="http://127.0.0.1:5000/assets/js/end_user.bundle.js?v=2478898"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('form').find('input[type=text], input[type=email]').filter(':visible:first').focus();
            });
        </script>
    </body>
</html>
